@model QuakeKanban.ViewModels.TaskWriteViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Task.Id" />
            <input type="hidden" asp-for="@Model.ReturnUrl" />
            <div class="form-group">
                <label asp-for="@Model.Task.Summary" class="control-label"></label>
                <input asp-for="@Model.Task.Summary" class="form-control" />
                <span asp-validation-for="@Model.Task.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.Description" class="control-label"></label>
                <input asp-for="@Model.Task.Description" class="form-control" />
                <span asp-validation-for="@Model.Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.Status" class="control-label"></label>
                <select asp-for="@Model.Task.Status" class="form-control" asp-items="Html.GetEnumSelectList<QuakeKanban.Models.TaskStatus>()"></select>
                <span asp-validation-for="@Model.Task.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.Assignee" class="control-label"></label>
                <select asp-for="@Model.Task.Assignee" class="form-control" asp-items="@Model.Users">
                    <option value="">Unassigned</option>
                </select>
                <span asp-validation-for="@Model.Task.Assignee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.StoryPoints" class="control-label"></label>
                <input asp-for="@Model.Task.StoryPoints" class="form-control" />
                <span asp-validation-for="@Model.Task.StoryPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if(string.IsNullOrWhiteSpace(Model.ReturnUrl)) {
        <a asp-action="Index">Back to List</a>
    } else {
        <a href="@System.Net.WebUtility.UrlDecode(Model.ReturnUrl)">Back to Board</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
