@model QuakeKanban.ViewModels.TaskListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Assignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].StoryPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (var i = 0; i < Model.Tasks.Count; i++) { 
    var item =  Model.Tasks[i]; 
    var assignee = Model.Assignees[i];
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => assignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoryPoints)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
